<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/home" class="logo">Tutor Booking</a>
            

        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/tutor">Tutor</a></li>
            {% if session.get('role') == 'tutor' %}<li><a href="/tutor-dashboard">My Bookings</a></li>{% else %}<li><a href="/tutor">My Booking</a></li>{% endif %}
            {% if session.get('user') %}
                <li><a href="/logout"><button type="button">Logout</button></a></li>
            {% else %}
                <li><a href="/login-student"><button type="button">Login</button></a></li>
            {% endif %}
        </ul>
    </header>

    <div class="row">
        <div class="col-2">
            <h1>Book Your<br>Online Tutoring<br>Session</h1>
            
        </div>

        <div class="col-2">
            <img src="{{ url_for('static', filename='hero.jpg') }}" alt="Hero Image"> 
        </div>
    </div>

    

    <section class="how-it-works">
        <h1>How It Works</h1>

        <div class="row1">
            <div class="how-it-works-col">
                <h3>1. Select Subject</h3>
                <p>Pick the subject you want to choose and to study</p>
            </div> 

            <div class="how-it-works-col">
                <h3>2. Choose Tutor and Time</h3>
                <p>Look at the availability of tutor and select the time as you want</p>
            </div> 

            <div class="how-it-works-col">
                <h3>3. Confirm Booking</h3>
                <p>It shows in which time and date you have booked and confirmed the booking</p>
            </div> 
        </div> 
    </section>

    <section class="Tutors">
        <h1>Featured Tutors</h1>
        <div class="row2">
            <div class="Tutors-col">
                <img src="{{ url_for('static', filename='emma.png') }}" alt="Emma Johnson">
                <h3>Emma Johnson</h3>
                <p>Maths</p>
            </div>

            <div class="Tutors-col">
                <img src="{{ url_for('static', filename='michael.jpg') }}" alt="Michael Lee">
                <h3>Michael Lee</h3>
                <p>Physics</p>
            </div>

            <div class="Tutors-col">
                <img src="{{ url_for('static', filename='sophia.jpg') }}" alt="Sophia Patel">
                <h3>Sophia Patel</h3>
                <p>English</p>
            </div>

            <div class="Tutors-col">
                <img src="{{ url_for('static', filename='daniel1.avif') }}" alt="Daniel Kim">
                <h3>Daniel Kim</h3>
                <p>Programming</p>
            </div>
        </div> 
    </section>

    <section class="stats">
        <div class="stats-col">
            <h2>500+</h2>
            <p>Happy students</p>
        </div>
        <div class="stats-col">
            <h2>120+</h2>
            <p>Expert Tutors</p>
        </div>
        <div class="stats-col">
            <h2>10000+</h2>
            <p>Session Completed</p>
        </div>
        <div class="stats-col">
            <h2>100%</h2>
            <p>Satisfaction Rate</p>
        </div>
    </section>
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Tutor Booking</h3>
            <p>Find the best tutors and book your sessions easily.</p>
           
        </div>
 
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tutor">Tutors</a></li>
                <li><a href="/tutor">My Bookings</a></li>
            </ul>
        </div>
 
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: yoobee123@gmail.com</p>
            <p>Phone: +64 023842632</p>
            <p>Address: 123 Tutor Street, Auckland, New Zealand</p>
        </div>
    </div>
    <div class="footer-bottom">
            <p> &copy; 2026 Tutor Booking. All rights reserved.</p>
        </div>
</footer>
</html>